:host {
  display: block;
}

core-menu /deep/  #icon {
  margin-right: 8px;
}

core-menu /deep/ core-item {
  min-height: 24px;
}

core-menu /deep/ core-item.core-selected {
  font-weight: normal;
}

core-menu /deep/ core-submenu /deep/ #submenu{
  margin-left: 38px;
}
